/*ФОН САЙТА, ШРИФТ*/
body {
				background-color: #F8F8F8 /*Фон страницы*/;
				margin-top: 10px /*Отступ страницы от верха*/;
				font-family: Verdana /*Шрифт для всего сайта */;
				color: #2A2A2A /*Цвет шрифта для всего сайта*/;
				line-height: 145% /*Расстояние между строк*/;
}
/*БЕЛЫЙ ЛИСТ*/
#list {
				width: 950px /*Ширина белого листа сайта*/;
				height: auto /* Высота */;
				border: 1px solid #E4E4E4 /*Контур толщина, начертание, цвет*/;
				box-shadow: 0px 0px 0px 0px #EAEAEA /*Тень(горизонт, вертикаль, размытие, толщина)*/;
				margin: 0 auto /*Размещение по центру страницы*/;
				background-color: #FFFFFF /*Фон листа*/;
				padding-right: 30px /*Отступ внутри листа справа*/;
				padding-left: 30px; /*Отступ внутри листа слева*/
}
/*ТЕКСТ*/
p {
				font-size: 100% /*Размер шрифта*/;
				line-height: 175% /*Расстояние между строк*/;
				margin: 15px 0px 25px 0px /*Отступы сверху справа снизу слева*/;
				font-weight: 400 /* Убирает жирное начертание */;
}
/*ЗАГОЛОВОК 1*/
h1 {
				font-family: Tahoma /* Шрифт Заголовка 1 */;
				font-size: 170% /* Размер шрифта */;
				color: #000000 /* Цвет шрифта */;
				line-height: 125% /* Расстояние между строк */;
				margin: 10px 0px 15px 0px /* Отступы сверху справа снизу слева */;
				font-weight: 400 /* Убирает жирное начертание */;
}
/*ЗАГОЛОВОК 2*/
h2 {
				font-family: Tahoma /* Шрифт Заголовка 2*/;
				font-size: 170% /* Размер шрифта */;
				color: #000000 /* Цвет шрифта */;
				line-height: 125% /* Расстояние между строк */;
				margin: 20px 0px 15px 0px /* Отступы сверху справа снизу слева */;
				font-weight: 400 /* Убирает жирное начертание */;
}
/*ЗАГОЛОВОК 3*/
h3 {
				font-family: Tahoma /* Шрифт Заголовка 3 */;
				font-size: 150% /* Размер шрифта */;
				color: #000000 /* Цвет шрифта */;
				line-height: 125% /* Расстояние между строк */;
				margin: 15px 0px 15px 0px /* Отступы сверху справа снизу слева */;
				font-weight: 400 /* Убирает жирное начертание */;
}
/*ЗАГОЛОВОК 4*/
h4 {
				font-family: Tahoma /* Шрифт Заголовка 4 */;
				font-size: 130% /* Размер шрифта */;
				color: #000000 /* Цвет шрифта */;
				line-height: 125% /* Расстояние между строк */;
				margin: 15px 0px 15px 0px /* Отступы сверху справа снизу слева */;
				font-weight: 400 /* Убирает жирное начертание */;
}
/*ЗАГОЛОВОК 5*/
h5 {
				font-family: Tahoma /* Шрифт Заголовка 5 */;
				font-size: 115% /* Размер шрифта */;
				color: #000000 /* Цвет шрифта */;
				line-height: 125% /* Расстояние между строк */;
				margin: 15px 0px 15px 0px /* Отступы сверху справа снизу слева */;
				font-weight: 400 /* Убирает жирное начертание */;
}
/*ЗАГОЛОВОК 6*/
h6 {
				font-size: 100% /* Размер шрифта Заголовка 6 */;
				color: #000000 /* Цвет шрифта */;
				line-height: 125% /* Расстояние между строк */;
				margin: 15px 0px 15px 0px /* Отступы сверху справа снизу слева */;
}
/*МАРКИРОВАННЫЙ СПИСОК*/
ul {
				margin: 15px 0px 25px 0px /* Отступы сверху справа снизу слева */;
				line-height: 175%; /* Расстояние между строк */
}
/*НУМЕРОВАННЫЙ СПИСОК*/
ol {
				margin: 15px 0px 25px 0px /* Отступы сверху справа снизу слева */;
				line-height: 175%; /* Расстояние между строк */
}
/*ССЫЛКА*/
a {
				color: #006699/* Цвет ссылки */;
}
/*ССЫЛКА ПРИ НАВЕДЕНИИ*/
a:hover {
				color: #CC3300/* Цвет ссылки при наведении */;
}
/*ТАБЛИЦА*/
table {
				width: 100% /* Ширина таблиц */;
				height: auto /* Высота */;
				margin-bottom: 20px /* Отступ под таблицей */;
				border-collapse: collapse /* Убирает двойные лини соприкасающихся ячеек */;
				border: 1px solid #E4E4E4 /* Толщина, внешний вид , цвет границы */;
}
/*ЯЧЕЙКА ЗАГОЛОВКА*/
th {
				font-weight: 400 /* Убирает жирное начертание */;
				padding: 0px /*Убирает отступ в 1пс от границы ячейки*/;
}
/*ОБЫЧНАЯ ЯЧЕЙКА*/
td {
				padding-right: 25px; /* отступ справа внутри ячейки */;
				padding-left: 25px; /* отступ слева внутри ячейки */
}
/*КАРТИНКА ВНУТРИ ЯЧЕЙКИ ЗАГОЛОВКА*/
th img {
				width: 100%/* Размер картинки внутри ячейки заголовка */;
				height: auto;
}

/*ГОРИЗОНТАЛЬНАЯ ЛИНИЯ*/
hr{
				background-color: #D3D3D3;
				border-width: 0px;
				height: 1px;
				margin-top: 30px;
				margin-bottom: 30px;
}
