/*ШАПКА САЙТА*/
.Shapka {
				width: 100% /* Ширина */;
				height: auto /* Высота */;
				border: 0px solid #E1E1E1 /* Толщина, внешний вид , цвет границы */;
				margin-top: 20px/* Отступ над шапкой */;
				margin-bottom: 60px; /* Для фиксированного меню ставь значение 60, для обычного 20 */;
}
/*ЯЧЕЙКА С ЛОГОТИПОМ*/
.Shapka th {
				width: 27% /* Ширина ячейки с ЛОГОТИПОМ */;
				height: auto /* Высота */;
				vertical-align: middle /* Выравнивание по вертикали: середина */;
				text-align: left /*Текст слева*/;
}
/*КАРТИНКА*/
.Shapka img {
				display: block/* Растягивает картинку на длину блока */;
}
/*ЯЧЕЙКА С ОПИСАНИЕМ*/
.Shapka td {
				width: 43% /*Ширина ячейки с ОПИСАНИЕМ*/;
				height: auto /* Высота */;
				vertical-align: middle /* Выравнивание по вертикали: середина */;
				text-align: left /*Выравнивание текста по левой стороне*/;
				padding-right: 0px; /* отступ справа внутри ячейки */;
				padding-left: 50px; /* отступ слева внутри ячейки */;
				font-size: 95% /*Размер шрифта внутри ячейки*/;
}
/*ЯЧЕЙКА С ТЕЛЕФОНОМ*/
.Shapka td + td {
				width: 25% /*Ширина ячейки с ТЕЛЕФОНОМ */;
				height: auto /* Высота */;
				vertical-align: middle /* Выравнивание по вертикали: середина */;
				text-align: right /*Выравнивание текста по правой стороне*/;
				padding-left: 0px /*Убирает Отступ текста с левой стороны*/;
				font-family: Arial/* Шрифт телефона */;
				font-size: 150%/* Размер шрифта телефона */;
				padding-right: 5px; /* отступ справа внутри ячейки */;
				padding-left: 0px; /* отступ слева внутри ячейки */
}
/*МЕНЯЕТ ЦВЕТ ЛОГОТИПА ПРИ НАВЕДЕНИИ*/
.Shapka img:hover {
				-webkit-filter: grayscale(50%)/* Меняет насыщенность рисунка */;
				cursor: pointer /* Меняет внешний вид курсора на руку */;
}

/*ТЕКСТ*/
.Shapka p {
				font-size: 60% /*Размер шрифта*/;
				line-height: 150% /*Расстояние между строк*/;
				margin: 0px 15px 0px 15px /*Отступы сверху справа снизу слева*/;
				font-weight: 400 /* Убирает жирное начертание */;
				text-align: left;
				font-family: Verdana;
}
