/*БАНЕР*/
.Baner {
				width: 100% /* Ширина */;
				height: 50px /* Высота */;
				background-color: #FFFFFF/* Цвет фона */;
				margin-top: 20px/* Отступ сверху */;
				margin-bottom: 20px/* Отступ снизу */;
}
/*ЯЧЕЙКА С КАРТИНКОЙ*/
.Baner th {
				width: 57% /* Ширина ячейки с рисунком */;
				height: auto /* Высота */;
				vertical-align: middle /* Выравнивание текста по вертикали: середина */;
				text-align: left /*Текст слева*/;
}
/*КАРТИНКА*/
.Baner th img {
				display: block/* Растягивает картинку на всю ширину ячейки */;
}
/*ЯЧЕЙКА С ТЕКСТОМ*/
.Baner td {
				width: 43% /*Ширина ячейки с текстом*/;
				height: auto /* Высота */;
				vertical-align: middle /* Выравнивание по вертикали: середина */;
				text-align: left /*Текст слева*/;
				padding-right: 25px/*Отступ текста справа от края*/;
				padding-left: 35px/*Отступ текста слева от края*/;
}
/*МАРКИРОВАННЫЙ СПИСОК*/
.Baner ul {
				margin-left: -20px/*Смещает список влево*/;
}
/*ЦЕНА*/
.Baner h3 {
				margin-left: 15px/*Отступ слева ЦЕНЫ*/;
				color: #CC3300/*Цвет ЦЕНЫ*/;
}

