/*ФОТОГРАФИЯ*/
.Foto {
				width: 100% /* Ширина */;
				height: auto /* Высота */;
				margin-bottom: 30px /* Отступ внизу таблицы */;
				border: 1px solid #E1E1E1 /* Толщина, внешний вид , цвет границы */;
				background-color: #F9F9F9/* Цвет фона*/;
				margin-top: 25px /* Отступ сверху таблицы */;
}
/* ЯЧЕЙКА С ФОТОГРАФИЕЙ */
.Foto th {
				vertical-align: middle /* Выравнивание по вертикали: середина */;
				text-align: left /*Текст слева*/;
				padding: 0px/* Убирает наследуемые отступы */;
}
/* ФОТОГРАФИЯ */
.Foto th img {
				display: block/* Растягивает фото по длине ячейки */;
}
/* ЯЧЕЙКА С ОПИСАНИЕМ */
.Foto td {
				padding: 15px/*Отступы со всех сторон */;
				vertical-align: middle /* Выравнивание по вертикали: середина */;
				text-align: left /*Текст слева*/;
				font-size: 90%/* Размер шрифта */;
}
