/*КАТАЛОГ ЛИНЕЙНЫЙ*/
.Katalog {
				width: 100% /* Ширина */;
				height: auto /* Высота */;
				background-color: #FCFCFC /*Цвет фона*/;
				margin-bottom: 30px /* Отступ внизу таблицы */;
}
/* ЯЧЕЙКА С КАРТИНКОЙ */
.Katalog th {
				padding: 20px/*Отступ картинки со всех сторон */;
				width: 40% /* Ширина */;
				height: auto /* Высота */;
				vertical-align: top /* Выравнивание по вертикали: верх */;
				text-align: left /*Текст слева*/;
}
/* КАРТИНКА */
.Katalog th img {
				border: 1px solid #E6E6E6/* Рамка вокруг картинки */;
				display: block/* Растягивает картинку на всю ширину */;
}
/* ЯЧЕЙКА С ТЕКСТОМ */
.Katalog td {
				width: 60% /*Ширина*/;
				height: auto /* Высота */;
				vertical-align: top /* Выравнивание по вертикали: верх */;
				text-align: left /*Текст слева*/;
				border: 0px solid #E4E4E4 /* Толщина, внешний вид , цвет границы */;
				padding-top: 10px/*Отступ текста сверху*/;
}
/* КАТАЛОГ ПРИ НАВЕДЕНИИ */
.Katalog:hover {
				box-shadow: 0px 0px 2px 2px #EAEAEA/* Тень вокруг таблицы при наведении */;
}
