/*ВИЗИТКА НА СТРАНИЦЕ КОНТАКТОВ*/
.Kontakt-Vizitka {
				width: 100% /* Ширина */;
				height: auto /* Высота */;
				background-color: #FCFCFC/*Цвет фона*/;
				margin-bottom: 30px /* Отступ внизу визитки */;
}
/* ЯЧЕЙКА С КАРТИНКОЙ */
.Kontakt-Vizitka th {
				padding: 20px/*Отступ картинки со всех сторон */;
				width: 22% /* Ширина */;
				height: auto /* Высота */;
				vertical-align: top /* Выравнивание по вертикали: верх */;
				text-align: left /*Текст слева*/;
}
/* КАРТИНКА */
.Kontakt-Vizitka th img {
				border: 1px solid #E6E6E6/* Контур вокруг картинки */;
				display: block/* Растягивает картинку на ширину ячейки */;
}
/* ЯЧЕЙКА С ТЕКСТОМ */
.Kontakt-Vizitka td {
				width: 78% /*Ширина*/;
				height: auto /* Высота */;
				vertical-align: top /* Выравнивание по вертикали: верх */;
				text-align: left /*Текст слева*/;
				border: 0px solid #E4E4E4 /* Толщина, внешний вид , цвет границы */;
				padding-top: 10px/* Отсуп текста сверху */;
}
