vti_encoding:SR|utf8-nl
vti_author:SR|Мой-ПК\\Мой
vti_modifiedby:SR|Мой-ПК\\Мой
vti_timelastmodified:TR|08 Apr 2016 17:52:14 -0000
vti_timecreated:TR|09 Mar 2016 23:10:30 -0000
vti_extenderversion:SR|12.0.0.6500
vti_backlinkinfo:VX|01-Moduli/18-Кontakt.htm 01-Moduli/03-Menu-Gorizont.htm 01-Moduli/04-Baner.htm 01-Moduli/05-Telo.htm 01-Moduli/08-Video.htm 01-Moduli/14-Katalog-tablica.htm 01-Moduli/24-Stati.htm 01-Moduli/14-Katalog.htm 01-Moduli/03-Menu-Gorizont_fix.htm 01-Moduli/09-Info.htm 01-Moduli/10-Vnimanie.htm 01-Moduli/12-Podval.htm 01-Moduli/17-Akkordeon.htm 01-Moduli/19-Zakaz.htm 01-Moduli/05-Telo_Liniya.htm 01-Moduli/06-Kroshki.htm 01-Moduli/16-Price-list.htm 01-Moduli/25-Reklama.htm 03-Style/m/00-Super-m.css 01-Moduli/02-Shapka.htm 01-Moduli/22-Spisok.htm 01-Moduli/11-Dalee_s_knopkami.htm 01-Moduli/99-Knopki.htm 01-Moduli/19-Zayavka.htm 01-Moduli/99-Animaciya.htm 01-Moduli/13-Menu-Vertikal-sprava.htm 01-Moduli/15-Tovar.htm 01-Moduli/07-Foto.htm 01-Moduli/09-Info-Kartinka.htm 01-Moduli/11-Dalee.htm 01-Moduli/13-Menu-Vertikal-sleva.htm 01-Moduli/18-Kontakt-Vizitka.htm 01-Moduli/05-Telo_Blok.htm 01-Moduli/13-Menu-Vertikal-Blok-Ssylka.htm
vti_nexttolasttimemodified:TW|08 Apr 2016 17:43:52 -0000
vti_cacheddtm:TX|08 Apr 2016 17:52:14 -0000
vti_filesize:IR|8095
