vti_encoding:SR|utf8-nl
vti_author:SR|Мой-ПК\\Мой
vti_modifiedby:SR|Мой-ПК\\Мой
vti_timelastmodified:TR|08 Apr 2016 15:00:27 -0000
vti_timecreated:TR|09 Mar 2016 23:10:30 -0000
vti_extenderversion:SR|12.0.0.6500
vti_backlinkinfo:VX|01-Moduli/23-Menu-Gorizont-Adaptaciya.htm 08-Tovar/01-menu-mobil.htm
vti_nexttolasttimemodified:TR|08 Apr 2016 14:58:54 -0000
vti_cacheddtm:TX|08 Apr 2016 15:00:27 -0000
vti_filesize:IR|5133
