/*ФОН САЙТА, ШРИФТ*/
body {
				margin: 0px;
				font-family: Verdana /*Шрифт */;
				color: #2A2A2A /*Цвет шрифта*/;
				line-height: 145% /*Расстояние между строк*/;
}
/*БЕЛЫЙ ЛИСТ*/
#list {
				width: 100% /*Ширина в процентах*/;
				border: 0px solid #E4E4E4 /*Контур толщина, начертание, цвет*/;
				box-shadow: 0px 0px 0px 0px #EAEAEA /*Тень(горизонт, вертикаль, размытие, толщина)*/;
				margin: 0 auto /*Размещение по центру страницы*/;
				background-color: #FFFFFF /*Фон листа*/;
				padding-right: 0px /*Поля справа*/;
				padding-left: 0px; /*Поля слева*/
}


@media screen and (min-width: 595px)
{
/*БЕЛЫЙ ЛИСТ ДЛЯ ПЛАНШЕТОВ*/
				#list {
				width: 95% /*Ширина в процентах*/;
				border: 0px solid #E4E4E4 /*Контур толщина, начертание, цвет*/;
				box-shadow: 0px 0px 0px 0px #EAEAEA /*Тень(горизонт, вертикаль, размытие, толщина)*/;
				margin: 0 auto /*Размещение по центру страницы*/;
				background-color: #FFFFFF /*Фон листа*/;
				padding-right: 0px /*Поля справа*/;
				padding-left: 0px; /*Поля слева*/
			
}
}


/*ТЕКСТ*/
p {
				font-size: 100% /*Размер шрифта*/;
				line-height: 175% /*Расстояние между строк*/;
				margin: 15px 0px 25px 0px /*Отступы сверху справа снизу слева*/;
				font-weight: 400 /* Убирает жирное начертание */;
}

@media screen and (min-width: 595px)
{
/*ТЕКСТ ДЛЯ ПЛАНШЕТОВ*/
p {
				font-size: 130%/* Размер шрифта */;
				font-weight: 400 /* Убирает жирное начертание */;

}
}

/*ЗАГОЛОВОК 1*/
h1 {
				font-family: Tahoma /* Шрифт Заголовка 1 */;
				font-size: 130% /* Размер шрифта */;
				color: #000000 /* Цвет шрифта */;
				line-height: 125% /* Расстояние между строк */;
				margin: 10px 0px 15px 0px /* Отступы сверху справа снизу слева */;
				
}

@media screen and (min-width: 595px)
{
/*ЗАГОЛОВОК 1 ДЛЯ ПЛАНШЕТОВ*/
h1 {
				font-size: 210%/* Размер шрифта */;
				font-weight: 400 /* Убирает жирное начертание */;

}
}

/*ЗАГОЛОВОК 2*/
h2 {
				font-family: Tahoma /* Шрифт Заголовка 2*/;
				font-size: 130% /* Размер шрифта */;
				color: #000000 /* Цвет шрифта */;
				line-height: 125% /* Расстояние между строк */;
				margin: 20px 0px 15px 0px /* Отступы сверху справа снизу слева */;
				
}
@media screen and (min-width: 595px)
{
/*ЗАГОЛОВОК 2 ДЛЯ ПЛАНШЕТОВ*/
h2 {
				font-size: 210%/* Размер шрифта */;
				font-weight: 400 /* Убирает жирное начертание */;
}
}

/*ЗАГОЛОВОК 3*/
h3 {
				font-family: Tahoma /* Шрифт Заголовка 3 */;
				font-size: 130% /* Размер шрифта */;
				color: #000000 /* Цвет шрифта */;
				line-height: 125% /* Расстояние между строк */;
				margin: 15px 0px 15px 0px /* Отступы сверху справа снизу слева */;
				
}
@media screen and (min-width: 595px)
{
/*ЗАГОЛОВОК 3 ДЛЯ ПЛАНШЕТОВ*/
h3 {
				font-size: 190%/* Размер шрифта */;
				font-weight: 400 /* Убирает жирное начертание */;
}
}

/*ЗАГОЛОВОК 4*/
h4 {
				font-family: Tahoma /* Шрифт Заголовка 4 */;
				font-size: 130% /* Размер шрифта */;
				color: #000000 /* Цвет шрифта */;
				line-height: 125% /* Расстояние между строк */;
				margin: 15px 0px 15px 0px /* Отступы сверху справа снизу слева */;
				
}
@media screen and (min-width: 595px)
{
/*ЗАГОЛОВОК 4 ДЛЯ ПЛАНШЕТОВ*/
h4 {
				font-size: 150%/* Размер шрифта */;
				font-weight: 400 /* Убирает жирное начертание */;

}
}

/*ЗАГОЛОВОК 5*/
h5 {
				font-family: Tahoma /* Шрифт Заголовка 5 */;
				font-size: 130% /* Размер шрифта */;
				color: #000000 /* Цвет шрифта */;
				line-height: 125% /* Расстояние между строк */;
				margin: 15px 0px 15px 0px /* Отступы сверху справа снизу слева */;
				
}
@media screen and (min-width: 595px)
{
/*ЗАГОЛОВОК 6 ДЛЯ ПЛАНШЕТОВ*/
h5 {
				font-size: 150%/* Размер шрифта */;
				font-weight: 400 /* Убирает жирное начертание */;

}
}

@media screen and (min-width: 595px)
{
/*ЗАГОЛОВОК 6*/
h6 {
				font-size: 100% /* Размер шрифта Заголовка 6 */;
				color: #000000 /* Цвет шрифта */;
				line-height: 125% /* Расстояние между строк */;
				margin: 15px 0px 15px 0px /* Отступы сверху справа снизу слева */;
}
/*ЗАГОЛОВОК 6 ДЛЯ ПЛАНШЕТОВ*/
h6 {
				font-size: 130%/* Размер шрифта */;
				font-weight: 400 /* Убирает жирное начертание */;

}
}

/*МАРКИРОВАННЫЙ СПИСОК*/
ul {
				margin: 15px 0px 15px -20px /* Отступы сверху справа снизу слева */;
				line-height: 175%; /* Расстояние между строк */;
				
}
@media screen and (min-width: 595px)
{
/*МАРКИРОВАННЫЙ СПИСОК ДЛЯ ПЛАНШЕТОВ*/
ul {
				margin: 15px 0px 15px -20px /* Отступы сверху справа снизу слева */;
				line-height: 175%; /* Расстояние между строк */;
				font-size: 130% /*Размер шрифта*/;
}
}

/*НУМЕРОВАННЫЙ СПИСОК*/
ol {
				margin: 15px 0px 15px 0px /* Отступы сверху справа снизу слева */;
				line-height: 175%; /* Расстояние между строк */;
				font-size: 100% /*Размер шрифта*/;
}
@media screen and (min-width: 595px)
{
/*НУМЕРОВАННЫЙ СПИСОК ДЛЯ ПЛАНШЕТОВ*/
ol {
				margin: 15px 0px 15px -20px /* Отступы сверху справа снизу слева */;
				line-height: 175%; /* Расстояние между строк */;
				font-size: 130% /*Размер шрифта*/;
}
}

/*СТИЛЬ ССЫЛКИ*/
a {
				color: #006699/* Цвет шрифта */;
}
/*ССЫЛКА ПРИ НАВЕДЕНИИ*/
a:hover {
				color: #CC3300/* Цвет шрифта */;
}
/*ТАБЛИЦА*/
table {
				margin-bottom: 20px /* Отступ внизу таблицы */;
				border-collapse: collapse /* Убирает двойные лини соприкасающихся ячеек */;
				border: 1px solid #E4E4E4 /* Толщина, внешний вид , цвет границы */;
}
/*ЯЧЕЙКА ЗАГОЛОВК*/
th {
				font-weight: 400 /* Убирает жирное начертание */;
				padding: 0px /*Убирает отступ в 1пс от границы ячейки*/;
}
/*ЯЧЕЙКА*/
td {
				padding-right: 15px; /* отступ справа внутри ячейки */;
				padding-left: 15px; /* отступ слева внутри ячейки */
}
/*КАРТИНКА ВНУТРИ ЯЧЕЙКИ ЗАГОЛОВКА*/
th img {
				width: 100%;
				height: auto;
}

/*ГОРИЗОНТАЛЬНАЯ ЛИНИЯ*/
hr{
				background-color: #D3D3D3;
				border-width: 0px;
				height: 1px;
				margin-top: 20px;
				margin-bottom: 20px;
}

