/*ШАПКА СВЕРХУ САЙТА*/
.Shapka {
				width: 100% /* Ширина */;
				max-width: 270px /*Максимальная ширина*/;
				height: auto /* Высота */;
				border: 0px solid #E1E1E1 /* Толщина, внешний вид , цвет границы */;
				margin-top: 10px/* Отступ сверху */;
				margin-bottom: 75px /* Для фиксированного меню ставь значение 75, для обычного 15 */;
}
/*ЯЧЕЙКА С ЛОГОТИПОМ*/
.Shapka th {
				width: auto /* Ширина */;
				height: auto /* Высота */;
				vertical-align: middle /* Выравнивание по вертикали: середина */;
				text-align: center /*Текст слева*/;
				padding-left: 5px/*Отступ слева*/;
				padding-top: 5px/*Отступ справа*/;
}
/* ЯЧЕЙКА С ОПИСАНИЕМ СКРЫТА В МОБИЛЬНОЙ ВЕРСИИ */
.Shapka td {
				width: 47% /*Ширина*/;
				height: auto /* Высота */;
				vertical-align: middle /* Выравнивание по вертикали: середина */;
				text-align: left /*Выравнивание текста по левой стороне*/;
				padding-right: 0px; /* отступ справа внутри ячейки */;
				padding-left: 50px; /* отступ слева внутри ячейки */;
				font-size: 95% /*Размер шрифта*/;
				display: none/*Скрывает ячейку с описанием*/;
}
/* ЯЧЕЙКА С ТЕЛЕФОНОМ СКРЫТА В МОБИЛЬНОЙ ВЕРСИИ */
.Shapka td + td {
				width: 23% /*Ширина*/;
				height: auto /* Высота */;
				vertical-align: middle /* Выравнивание по вертикали: середина */;
				text-align: right /*Выравнивание текста по правой стороне*/;
				padding-left: 0px /*Убирает Отступ текста с левой стороны*/;
				font-family: Arial;
				font-size: 150%;
				padding-right: 5px; /* отступ справа внутри ячейки */;
				padding-left: 0px; /* отступ слева внутри ячейки */;
				display: none/*Скрывает ячейку с описанием*/;
}
/*МЕНЯЕТ ЦВЕТ ЛОГОТИПА ПРИ НАВЕДЕНИИ*/
.Shapka img:hover {
				-webkit-filter: grayscale(50%)/* Меняет насыщенность рисунка */;
				cursor: pointer /* Меняет внешний вид курсора на руку */;
}
