/*БЛОК ВАЖНАЯ ИНФОРМАЦИЯ*/
.Info {
				width: 100% /* Ширина */;
				height: auto /* Высота */;
				background-color: #F9F9F9/* Фон */;
				margin-bottom: 30px /* Отступ внизу таблицы */;
}
/* ЯЧЕЙКА */
.Info td {
				vertical-align: top /* Выравнивание по вертикали: середина */;
				text-align: left /*Текст слева*/;
				width: 65%/* Ширина */;

}
/* ЯЧЕЙКА С КАРТИНКОЙ */
.Info th {
				padding: 15px/*отступ картинки со всех сторон */;
				width: 35%/* Ширина */;
				height: auto /* Высота */;
				vertical-align: top /* Выравнивание по вертикали: верх */;
				text-align: left /*Текст слева*/;
}
/* КАРТИНКА */
.Info th img {
				border: 1px solid #E6E6E6/* Контур вокруг картинки */;
				display: block/* Растягивает картинку по всей длине */;
}
