/* БЛОК С ТОВАРОМ */
.Tovar {
				width: 100% /* Ширина */;
				height: auto /* Высота */;
				background-color: #FCFCFC;/* Цвет фона */;
				margin-bottom: 20px /* Отступ внизу таблицы */;
}
/* ЯЧЕЙКА С КАРТИНКОЙ */
.Tovar th {
				padding: 15px/*Отступ картинки со всех сторон */;
				width: 35% /* Ширина */;
				height: auto /* Высота */;
				vertical-align: top /* Выравнивание по вертикали: верх */;
				text-align: left /*Текст слева*/;
}
/* ЯЧЕЙКА С ТЕКТОМ */
.Tovar td {
				width: 65% /*Ширина*/;
				height: auto /* Высота */;
				vertical-align: top /* Выравнивание по вертикали: верх */;
				text-align: left /*Текст слева*/;
				border: 0px solid #E4E4E4 /* Толщина, внешний вид , цвет границы */;
				padding: 0px 15px 0px 10px;/*отступ картинки со всех сторон */
}
/*ТЕКСТ ДЛЯ СМАРТФОНОВ*/
.Tovar p {
				font-size: 80%/* Размер шрифта */;
}
/*ЗАГОЛОВОК ДЛЯ СМАРТФОНОВ*/
.Tovar h4 {
				font-size: 100%/* Размер шрифта */;
				
}

/* ЦЕНА ТОВАРА */
.Tovar h3 {
				color: #CC3300/*Цвет цены*/;
				font-size: 120%/*Размер шрифта*/;
				margin-top: 0px/*Отступ сверху*/;
}

/* ТЕКСТ ДЛЯ ПЛАНШЕТОВ БОЛЬШЕ 600 пиксел */
@media screen and (min-width: 595px)
{
/*ТЕКСТ ДЛЯ ПЛАНШЕТОВ*/
.Tovar p {
				font-size: 100%/* Размер шрифта */;
}
/*ЗАГОЛОВОК ДЛЯ ПЛАНШЕТОВ*/
.Tovar h4 {
				font-size: 150%/* Размер шрифта */;
				font-weight: 400/* Удаляет жирное начертание */;
}
/* ЦЕНА ТОВАРА */
.Tovar h3 {
				
				font-size: 150%/*Размер шрифта*/;
				
}
}
/* ЦЕНА ТОВАРА */
