/*ВИЗИТКА НА СТРАНИЦЕ КОНТАКТОВ*/
.Kontakt-Vizitka {
				width: 100% /* Ширина */;
				height: auto /* Высота */;
				background-color: #FCFCFC;
				margin-bottom: 30px /* Отступ внизу таблицы */;
}
/* ЯЧЕЙКА С КАРТИНКОЙ */
.Kontakt-Vizitka th {
				padding: 20px/*отступ картинки со всех сторон */;
				width: 35% /* Ширина */;
				height: auto /* Высота */;
				vertical-align: top /* Выравнивание по вертикали: верх */;
				text-align: left /*Текст слева*/;
}
/* КАРТИНКА */
.Kontakt-Vizitka th img {
				border: 1px solid #E6E6E6/* Контур вокруг картинки */;
				display: block/* Растягивает картинку на ширину ячейки */;
}
/* ЯЧЕЙКА С ТЕКСТОМ */
.Kontakt-Vizitka td {
				width: 65% /*Ширина*/;
				height: auto /* Высота */;
				vertical-align: top /* Выравнивание по вертикали: верх */;
				text-align: left /*Текст слева*/;
				border: 0px solid #E4E4E4 /* Толщина, внешний вид , цвет границы */;
				padding-top: 10px/* Отступ текста сверху */;
				padding-left: 5px/*Отступ справа*/;
}
/*ТЕКСТ ДЛЯ СМАРТФОНОВ*/
.Kontakt-Vizitka p {
				font-size: 80%/* Размер шрифта */;
}
/*ЗАГОЛОВОК ДЛЯ СМАРТФОНОВ*/
.Kontakt-Vizitka h4 {
				font-size: 100%/* Размер шрифта */;
				margin-bottom: 5px;
}
/* ТЕКСТ И ССЫЛКА ДЛЯ ПЛАНШЕТОВ БОЛЬШЕ 600 пиксел */
@media screen and (min-width: 595px)
{
/*ТЕКСТ ДЛЯ ПЛАНШЕТОВ*/
.Kontakt-Vizitka p {
				font-size: 100%/* Размер шрифта */;
}
/*ЗАГОЛОВОК ДЛЯ ПЛАНШЕТОВ*/
.Kontakt-Vizitka h4 {
				font-size: 150%/* Размер шрифта */;
				font-weight: 400/* Удаляет жирное начертание */;
}
}
