/*БЛОК АНОНСА СТАТЬИ*/
.Stati {
				width: 100% /* Ширина */;
				height: auto /* Высота */;
				margin-bottom: 20px /* Отступ внизу таблицы */;
				background-color: #FCFCFC/* Фон блока */;
}
/* ЯЧЕЙКА С КАРТИНКОЙ */
.Stati th {
				width: 35% /* Ширина */;
				height: auto /* Высота */;
				vertical-align: top /* Выравнивание по вертикали: середина */;
				text-align: right /*Текст слева*/;
				padding: 15px 15px 0px 15px/*Отступ картинки со всех сторон */;
				border: 0px solid #E6E6E6/*Убирает контур вокруг картинки */;
}
/* КАРТИНКА */
.Stati th img {
				width: 100% /* Ширина */;
				height: auto /* Высота */;
				border: 1px solid #E6E6E6/*Контур вокруг картинки */;
				display: block/* Растягивает картинку на всю ширину */;
}
/* ЯЧЕЙКА С ТЕКСТОМ */
.Stati td {
				width: 65% /*Ширина*/;
				height: auto /* Высота */;
				vertical-align: top /* Выравнивание по вертикали: середина */;
				text-align: left /*Текст слева*/;
				border: 0px solid #E6E6E6/*Убирает контур вокруг картинки */;
				}

/*ТЕКСТ ДЛЯ СМАРТФОНОВ*/
.Stati p {
				font-size: 80%/* Размер шрифта */;
}
/*ЗАГОЛОВОК ДЛЯ СМАРТФОНОВ*/
.Stati h4 {
				font-size: 100%/* Размер шрифта */;
				margin-bottom: 5px;
}
/* ТЕКСТ ДЛЯ ПЛАНШЕТОВ БОЛЬШЕ 600 пиксел */
@media screen and (min-width: 595px)
{
/*ТЕКСТ ДЛЯ ПЛАНШЕТОВ*/
.Stati p {
				font-size: 130%/* Размер шрифта */;
}
/*ЗАГОЛОВОК ДЛЯ ПЛАНШЕТОВ*/
.Stati h4 {
				font-size: 170%/* Размер шрифта */;
				font-weight: 400/* Удаляет жирное начертание */;
}
}