/*РЕКЛАМНЫЙ БЛОК*/
.Reklama {
				width: 100% /* Ширина */;
				height: auto /* Высота */;
				background-color: #FCFCFC/* Фон блока */;
				margin-bottom: 30px /* Отступ внизу таблицы */;
}
/* ЯЧЕЙКА С КАРТИНКОЙ */
.Reklama th {
				padding: 15px 15px 15px 15px/*отступ картинки со всех сторон */;
				width: 35% /* Ширина */;
				height: auto /* Высота */;
				vertical-align: top /* Выравнивание по вертикали: верх */;
				text-align: left /*Текст слева*/;
}
/* КАРТИНКА */
.Reklama th img {
				border: 1px solid #E6E6E6/* Контур вокруг картинки */;
				display: block/* Растягивает картинку на всю ширину ячейки */;
}
/* ЯЧЕЙКА С ТЕКСТОМ */
.Reklama td {
				width: 65% /*Ширина*/;
				height: auto /* Высота */;
				vertical-align: top /* Выравнивание по вертикали: верх */;
				text-align: left /*Текст слева*/;
				border: 0px solid #E4E4E4 /* Толщина, внешний вид , цвет границы */;
				padding-top: 10px/* Отступ сверху */;
				
}
/*ТЕКСТ ДЛЯ СМАРТФОНОВ*/
.Reklama p {
				font-size: 80%/* Размер шрифта */;
}
/*ЗАГОЛОВОК ДЛЯ СМАРТФОНОВ*/
.Reklama h3 {
				font-size: 100%/* Размер шрифта */;
				margin-bottom: 5px;
}
/* ТЕКСТ И ССЫЛКА ДЛЯ ПЛАНШЕТОВ БОЛЬШЕ 600 пиксел */
@media screen and (min-width: 595px)
{
/*ТЕКСТ ДЛЯ ПЛАНШЕТОВ*/
.Reklama p {
				font-size: 130%/* Размер шрифта */;
}
/*ЗАГОЛОВОК ДЛЯ ПЛАНШЕТОВ*/
.Reklama h3 {
				font-size: 170%/* Размер шрифта */;
				font-weight: 400/* Удаляет жирное начертание */;
}
}
