a.Knopka1 {
				font-size: 100%/*Размер текста в кнопке КАТАЛОГ*/;
				text-align: center/*Выравнивает текст в кнопке по середине*/;
				background-color: #37ABC8/*Цвет кнопки*/;
				border: 2px solid #2E8EA7/*Рамка вокруг кнопки*/;
				padding: 9px 20px 9px 20px/*Размеры кнопки*/;
				color: #FFFFFF/*Цвет текста кнопки*/;
				text-decoration: none/*Убирает подчеркивание*/;
				font-family: Arial/*Шрифт кнопки*/;
				display: block/*Растягивает кнопку на всю длину блока*/;
				webkit-border-radius : 5px /*Скругление углов*/;
				moz-border-radius: 5px /*Скругление углов*/;
				border-radius: 5px /*Скругление углов*/;
}
a.Knopka1:hover {
				background-color: #3197B0/*Цвет кнопки при наведении*/;
				color: #FFFFFF/* Цвет шрифта при наведении */;
}
a.Knopka2 {
				font-size: 90%/*Размер текста в кнопке КАТАЛОГ*/;
				text-align: center/*Выравнивает текст в кнопке по середине*/;
				background-color: #37ABC8/*Цвет кнопки*/;
				border: 1px solid #2E8EA7/*Рамка вокруг кнопки*/;
				padding: 9px 20px 9px 20px/*Размеры кнопки*/;
				color: #FFFFFF/*Цвет текста кнопки*/;
				text-decoration: none/*Убирает подчеркивание*/;
				font-family: Arial/*Шрифт кнопки*/;
				webkit-border-radius : 3px /*Скругление углов*/;
				moz-border-radius: 3px /*Скругление углов*/;
				border-radius: 3px /*Скругление углов*/;
}
a.Knopka2:hover {
				background-color: #3197B0/*Цвет кнопки при наведении*/;
				color: #FFFFFF/* Цвет шрифта при наведении */;
}
a.Knopka3 {
				font-size: 90%/*Размер текста в кнопке КАТАЛОГ*/;
				text-align: center/*Выравнивает текст в кнопке по середине*/;
				border: 1px solid #C0C0C0/*Рамка вокруг кнопки*/;
				padding: 8px 20px 8px 20px/*Размеры кнопки*/;
				color: #8F8F8F/*Цвет текста кнопки*/;
				text-decoration: none/*Убирает подчеркивание*/;
				font-family: Arial/*Шрифт кнопки*/;
				webkit-border-radius : 5px /*Скругление углов*/;
				moz-border-radius: 5px /*Скругление углов*/;
				border-radius: 5px /*Скругление углов*/;
}
a.Knopka3:hover {
				border: 1px solid #999999/*Рамка вокруг кнопки*/;
				color: #666666/* Цвет шрифта при наведении */;
}
a.Knopka4 {
				font-size: 90%/*Размер текста в кнопке КАТАЛОГ*/;
				text-align: center/*Выравнивает текст в кнопке по середине*/;
				background-color: #F7F7F7/*Цвет кнопки*/;
				border: 1px solid #D3D3D3/*Рамка вокруг кнопки*/;
				padding: 9px 20px 9px 20px/*Размеры кнопки*/;
				color: #797979/*Цвет текста кнопки*/;
				text-decoration: none/*Убирает подчеркивание*/;
				font-family: Verdana/*Шрифт кнопки*/;
				webkit-border-radius : 3px /*Скругление углов*/;
				moz-border-radius: 3px /*Скругление углов*/;
				border-radius: 3px /*Скругление углов*/;
}
a.Knopka4:hover {
				background-color: #F0F0F0/*Цвет кнопки при наведении*/;
				color: #595959/* Цвет шрифта при наведении */;
}

