vti_encoding:SR|utf8-nl
vti_author:SR|Мой-ПК\\Мой
vti_modifiedby:SR|Мой-ПК\\Мой
vti_timelastmodified:TR|08 Apr 2016 14:53:20 -0000
vti_timecreated:TR|02 Apr 2016 20:43:43 -0000
vti_extenderversion:SR|12.0.0.6500
vti_backlinkinfo:VX|03-Style/b/00-Super-b.css 01-Moduli/13-Menu-Vertikal-sprava.htm
vti_nexttolasttimemodified:TR|08 Apr 2016 14:43:24 -0000
vti_cacheddtm:TX|06 Apr 2016 00:30:58 -0000
vti_filesize:IR|5337
